.actionBar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 1rem 0;
  height: 4rem;
  align-items: center;
  font-size: 1.15rem;

  .header {
    margin-left: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;

    & > * {
      margin-right: 1rem;
    }
  }

  .actionMenu {
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;

    // Targets all children elements
    & > * {
      margin-left: 1rem;
    }
  }
}